* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #adf7b6;
  width: 100%;
}

.main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
  margin-top: 40px;
}

.card {
  background-color: red;
}

.placeholder-card {
  display: block;
  margin-top: 80px;
}

.page-header {
  text-align: center;
  margin-top: 50px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 20px;
  width: 90%;
}

.search-bar {
  display: flex;
  gap: 20px;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  width: 50%;
}

.sort-options {
  display: flex;
  gap: 10px;
  width: 30%;
}

.sort-options label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sort-options input[type="checkbox"] {
  margin-right: 10px;
}

.search-bar button {
  padding: 12px 30px 12px 30px;
  background-color: #adf7b6;
  border: none;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.sort-prices {
  padding: 10px;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .search-input input {
    width: 60%;
  }

  .search-input {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
  }

  .search-bar {
    width: 100%;
  }

  .search-bar input {
    width: 100%;
  }

  .sort {
    width: 100%;
  }

  .sort-prices {
    width: 100%;
  }

  .sort-options {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
