* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-header {
  font-size: 50px;
}

.homepage-description {
  font-size: 20px;
  line-height: 1.7;
}

.buttons {
  display: flex;
  gap: 20px;
}

.shop-button {
  padding: 10px 30px 10px 30px;
  background-color: #59e3a8;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.sell-button {
  border: 2px solid #59e3a8;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  font-size: 18px;
  background-color: white;
  color: #59e3a8;
  transition: transform 0.3s ease;
}

.car-shopping {
  color: #59e3a8;
}

.shop-button:hover {
  transform: scale(1.1);
}

.sell-button:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .homepage-header {
    text-align: center;
    font-size: 40px;
  }

  .homepage-description {
    text-align: center;
    font-size: 18px;
  }
}
