* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #adf7b6;
}

.main {
<<<<<<< HEAD
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
}

.card {
  background-color: red;
}

.placeholder-card {
  display: block;
}

.page-header {
  text-align: center;
  margin-top: 50px;
}

.customCard{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px gray;
  align-items: center;
}

.customCard .imageContainer{
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.customCard .imageContainer img{
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}


@media (min-width: 768px) {
  #car-listings-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row if there's no space */
    justify-content: space-between; /* Adjust spacing between cards */
  }

  .customCard {
    flex-direction: row; /* Change to row direction */
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Center items vertically */
    width: calc(50% - 20px); /* Take 50% of the container width minus margin */
  }

  .customCard .imageContainer {
    width: 200px; /* Adjust width for image in row layout */
    height: 150px; /* Adjust height for image in row layout */
    margin-bottom: 0; /* Remove bottom margin for row layout */
    margin-right: 20px; /* Add right margin for spacing in row layout */
  }

  .customCard .card-body {
    flex-grow: 1; /* Allow the card body to take up the remaining space */
  }
}
=======
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
>>>>>>> ae7e38d72c56dab2091fa0bfd1dd5422b9662fc1
