* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #adf7b6;
}

.main {
  /* height: 100vh; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebffed;
  padding: 50px;
  border-radius: 10px;
}

.side1 {
<<<<<<< HEAD
  width: 30%;
=======
  width: 50%;
>>>>>>> ae7e38d72c56dab2091fa0bfd1dd5422b9662fc1
}

.side1-container {
  width: 100%;
}

.side2 {
<<<<<<< HEAD
  width: 70%;
=======
  width: 50%;
>>>>>>> ae7e38d72c56dab2091fa0bfd1dd5422b9662fc1
}

.side2-container {
  width: 100%;
}

.btn {
  margin-top: 10px;
<<<<<<< HEAD
  width: 150px;
=======
  width: 100px;
>>>>>>> ae7e38d72c56dab2091fa0bfd1dd5422b9662fc1
}

.page-header {
  color: rgb(100, 100, 100);
}

<<<<<<< HEAD
.alert-container {
  margin-top: 25px;
}

.col-12 {
  display: flex;
  align-items: center;
  gap: 20px;
}

=======
>>>>>>> ae7e38d72c56dab2091fa0bfd1dd5422b9662fc1
@media only screen and (max-width: 900px) {
  .main {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main-container {
    flex-direction: column;
  }

  .side1 {
    width: 100%;
  }

  .side2 {
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }
}
